<li>
  <%= image_tag("#{@card.image}") %>
</li>

<h1> <%= @card.name %> </h1>

<li>
  Type:
  <% if !@card.supertype.nil? %>
    <%= @card.supertype.sptypname %>
  <% end %>

  <%= @card.type.typname %>

  <% if !@card.subtype.nil? %>
    -
    <%= @card.subtype.sbtypname %>
  <% end %>
</li>

<li>
  Casting Cost (CMC):
  <%= @card.mana_cost %>
  (<%= @card.cmc %>)
</li>

<li>
  Color Identity:
  <%= @card.color_identity %>
</li>

<li>
  Rarity:
  <%= @card.rarity.value %>
</li>

<% if !@card.rules_text.nil? %>
  <li>
    Rules Text:
    <%= @card.rules_text %>
  </li>
<% end %>

<% if !@card.flavor_text.nil? %>
  <li>
    Flavor Text:
    <%= @card.flavor_text %>
  </li>
<% end %>

<% if !@card.power.nil? && !@card.toughness.nil? %>
  <li>
    Power/Toughness:
    <%= @card.power %>/<%= @card.toughness %>
  </li>
<% end %>

<% if !@card.loyalty.nil? %>
  <li>
    Loyalty:
    <%= @card.loyalty %>
  </li>
<% end %>

<li>
  Set:
  <%= @card.expantion.name %>
  <%= image_tag("#{@card.expantion.symbol}", height: '35', width: '35') %>
</li>

<li>
  Card Number:
  <%= @card.number %>/<%= @card.expantion.total %>
</li>

<li>
  Artist:
  <%= @card.artist.name %>
</li>

<%= render "form" %>
