<div class="row">

  <h1>Decks</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Format</th>
        <th>Card Total</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @decks.each do |deck| %>
      <tr>
        <td>
          <%= link_to(deck.name, deck_path(deck)) %>
        </td>
        <td>
          <%= deck.deckstyle.name %>
        </td>
        <td>
          <% deckcards = Deckcard.where(deck_id: deck) %>
          <% sum = 0 %>
          <% deckcards.each do |j| %>
            <% sum += j.num_of.to_i %>
          <% end %>
          <%= sum %>/<%= deck.deckstyle.cardlmt %>
        </td>
        <td>
          <%= button_to "Delete", deck_path(deck), class:"button", method:"delete" %>
        </td>
        <td>
          <%= button_to "Edit", edit_deck_path(deck), class:"button", method:"get" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<h4>Add New Deck</h4>
  <%= render "form" %>
</div>
