<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" href="http://img08.deviantart.net/cf8d/i/2011/170/6/b/magic_the_gathering_dotp_2012_by_jenack-d3jcych.png" />

    <title>
      <%= content_for?(:title) ? yield(:title) : "MTG-Deck_Builder" %>
    </title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class ="top-bar-left">
        <ul class="menu">
          <li>
            <%= image_tag("http://img08.deviantart.net/cf8d/i/2011/170/6/b/magic_the_gathering_dotp_2012_by_jenack-d3jcych.png", height: '60', width: '60') %>
          </li>
          <li class="menu-text">
            <%= link_to("MTG Deck Builder", root_path, class:"font-magic font-23px topbar-color") %>
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="top-bar-right">
          <ul class="menu">
            <li class="menu-text">
              <%= link_to("Cards", cards_path, class:"topbar-color") %>
            </li>
            <li class="menu-text">
              <%= link_to("Decks", decks_path, class:"topbar-color") %>
            </li>
            <li class="has-form">
              <%= form_tag cards_path, method: :get do %>
                <div class="row collapse">
                  <div class="column small-9">
                    <%= text_field_tag :query, params[:query], placeholder: "Search Cards" %>
                  </div>
                  <div class="column small-3">
                    <%= submit_tag "Search", name: nil, class: "button"%>
                  </div>
                </div>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%= render 'layouts/messages' %>
    <div class="row">
        <%= yield %>
    </div>

  </body>
</html>
